<h1>BandoMap</h1>

<div id="map"></div>

<br><hr><br>

<a href="/add">Add by address</a>
<a href="#">Add by clicking</a>

<br><br>

<form action="/add" method="POST">
  <input type="text" placeholder="address" name="address">
  <button type="submit">Add location</button>
</form>


<script type="text/javascript">
var map, infoWindow;
var spots = {{{spots}}};

function initMap() {
  latLng = new google.maps.LatLng(49, 123)

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 10
  });
  infoWindow = new google.maps.InfoWindow;

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }

  /* map.addListener('click', function(e) {
   placeMarkerAndPanTo(e.latLng, map);
 }); */

  for (var i = 0; i < spots.length; i++) {
    console.log(spots[i].coords);
    addMarker(spots[i].coords, spots[i].address, spots[i]._id, spots[i].points);
  }

}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
  infoWindow.open(map);
}

// Adds a marker on map when user clicks on a place on the map
function placeMarkerAndPanTo(latLng, map) {
  var marker = new google.maps.Marker({
    position: latLng,
    map: map
  });
  map.panTo(latLng);
}

function addMarker(coords, address, id, points) {

  var upvote = "/upvote/" + id;

  var contentString = '<div id="content">'+
             '<div id="siteNotice">'+
             '</div>'+
             '<h2 id="firstHeading" class="firstHeading">' + address + '</h2>'+
             '<h2><form action="/upvote/'+ id +'" method="POST"><input type="submit" name="upvote" value="↑"/></form>'+ points +
             '<form action="/downvote/'+ id +'" method="POST"><input type="submit" name="upvote" value="↓"/></form></h2>' +
             '<div id="bodyContent">'+
             '<p>lnjnj</p>'+
             '</div>'+
             '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
     position: coords,
     map: map,
     visible: true
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });

}

</script>

<!-- Reference javascripts for Google Maps API -->
<!--<script type="text/javascript" src="/javascripts/googleMaps.js"></script>-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBktahDyXxT0XCyMnbgb0yftsMmJ4rlN1k&callback=initMap"></script>
