<div id="map"></div>
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large waves-effect waves-light yellow darken-2 modal-trigger pulse" href="/new-spot">
     <i class="material-icons">add</i>
   </a>
</div>

</body>

<script type="text/javascript">


var map, infoWindow;
var spots = {{{spots}}}; // this is the location data from the database
var allMarkers = [];
</script>
<!-- Reference javascripts for Google Maps API -->
<script type="text/javascript" src="/javascripts/mainMap.js"></script>
