<h1>BandoMap</h1>

<div id="map"></div>

<!-- Reference javascripts for Google Maps API -->
<script type="text/javascript" src="/javascripts/googleMaps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBktahDyXxT0XCyMnbgb0yftsMmJ4rlN1k&callback=initMap"></script>
